<a href="https://colab.research.google.com/github/Natthaphatz007/Python_dataviz2024/blob/main/Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import os

path = '/content/drive/MyDrive/data_viz_2024_DATA'

file_path = os.path.join(path,'test-TidyData_2024.xlsx - water_quality.csv')
print(file_path)

/content/drive/MyDrive/data_viz_2024_DATA/test-TidyData_2024.xlsx - water_quality.csv

In [5]:
dataset = pd.read_csv(file_path)
dataset

,month,station,rep.,Chlo_a,Chlo_b,total_Caro,Temp.,pH,EC,Salinity,TDS,DO,Nitrate,Ammonium,Phosphate,No.Algal_cell,@dropdown
0,July_2018,1,1,0.095,0.012,0.027,30.2,5.54,622.7,330.3,545.2,4.37,0.173,0.053,0.013,1.635830e+05,NaN
1,July_2018,2,1,0.038,0.059,0.021,29.1,6.24,580.7,307.0,488.2,6.55,0.154,0.145,0.006,1.166667e+06,NaN
2,July_2018,3,1,0.044,0.089,0.023,29.7,5.52,547.1,289.4,462.2,5.67,0.153,0.154,0.014,2.970000e+06,NaN
3,July_2018,4,1,0.040,0.065,0.017,29.2,5.92,473.6,249.2,397.9,0.69,0.157,0.387,0.057,5.066670e+05,NaN
4,July_2018,5,1,0.045,0.062,0.023,29.5,5.79,685.5,366.0,581.2,4.46,0.204,0.043,0.007,1.265000e+06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,July_2019,2,3,0.031,0.015,0.018,31.2,7.74,580.5,309.2,517.0,6.31,0.132,0.031,0.000,2.665833e+05,NaN
194,July_2019,3,3,0.024,0.020,0.016,29.7,7.50,513.0,272.6,436.0,3.00,0.230,0.059,0.000,6.428333e+05,NaN
195,July_2019,4,3,0.016,0.010,0.009,31.5,7.51,550.9,289.8,498.4,4.02,0.124,0.136,0.000,2.945000e+05,NaN
196,July_2019,5,3,0.015,0.012,0.010,28.5,7.31,540.6,287.4,443.4,1.53,0.110,0.056,0.000,3.470833e+05,NaN
197,July_2019,6,3,0.009,0.011,0.006,31.5,7.71,544.7,288.2,493.8,6.32,0.165,0.106,0.000,3.692500e+05,NaN

In [14]:
# prompt: การใช้ DataFrame dataset: เพิ่มตารางเดือนและปีและลบตารางเดิมออก

# แยกเดือนและปีออกจากคอลัมน์ 'month'
dataset[['Month', 'Year']] = dataset['month'].str.split('_', expand=True)

# ลบคอลัมน์ 'month' ออก
dataset = dataset.drop('month', axis=1)

# แสดงผลลัพธ์
dataset

,month,station,rep.,Chlo_a,Chlo_b,total_Caro,Temp.,pH,EC,Salinity,TDS,DO,Nitrate,Ammonium,Phosphate,No.Algal_cell,@dropdown,year
0,July,1,1,0.095,0.012,0.027,30.2,5.54,622.7,330.3,545.2,4.37,0.173,0.053,0.013,1.635830e+05,NaN,2018
1,July,2,1,0.038,0.059,0.021,29.1,6.24,580.7,307.0,488.2,6.55,0.154,0.145,0.006,1.166667e+06,NaN,2018
2,July,3,1,0.044,0.089,0.023,29.7,5.52,547.1,289.4,462.2,5.67,0.153,0.154,0.014,2.970000e+06,NaN,2018
3,July,4,1,0.040,0.065,0.017,29.2,5.92,473.6,249.2,397.9,0.69,0.157,0.387,0.057,5.066670e+05,NaN,2018
4,July,5,1,0.045,0.062,0.023,29.5,5.79,685.5,366.0,581.2,4.46,0.204,0.043,0.007,1.265000e+06,NaN,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,July,2,3,0.031,0.015,0.018,31.2,7.74,580.5,309.2,517.0,6.31,0.132,0.031,0.000,2.665833e+05,NaN,2019
194,July,3,3,0.024,0.020,0.016,29.7,7.50,513.0,272.6,436.0,3.00,0.230,0.059,0.000,6.428333e+05,NaN,2019
195,July,4,3,0.016,0.010,0.009,31.5,7.51,550.9,289.8,498.4,4.02,0.124,0.136,0.000,2.945000e+05,NaN,2019
196,July,5,3,0.015,0.012,0.010,28.5,7.31,540.6,287.4,443.4,1.53,0.110,0.056,0.000,3.470833e+05,NaN,2019
197,July,6,3,0.009,0.011,0.006,31.5,7.71,544.7,288.2,493.8,6.32,0.165,0.106,0.000,3.692500e+05,NaN,2019

## ทำการแยกเดือนและปีออกเป็นคอลัมน์ month และ year

In [6]:
# prompt: การใช้ DataFrame dataset: เพิ่มตารางเดือนและปี

# แยกเดือนและปีออกจากคอลัมน์ 'month'
dataset[['Month', 'Year']] = dataset['month'].str.split('_', expand=True)

# แสดง DataFrame ที่มีคอลัมน์เดือนและปีเพิ่มเข้ามา
dataset = dataset.drop('month', axis=1) # เอา column เก่าออก
dataset

,station,rep.,Chlo_a,Chlo_b,total_Caro,Temp.,pH,EC,Salinity,TDS,DO,Nitrate,Ammonium,Phosphate,No.Algal_cell,@dropdown,Month,Year
0,1,1,0.095,0.012,0.027,30.2,5.54,622.7,330.3,545.2,4.37,0.173,0.053,0.013,1.635830e+05,NaN,July,2018
1,2,1,0.038,0.059,0.021,29.1,6.24,580.7,307.0,488.2,6.55,0.154,0.145,0.006,1.166667e+06,NaN,July,2018
2,3,1,0.044,0.089,0.023,29.7,5.52,547.1,289.4,462.2,5.67,0.153,0.154,0.014,2.970000e+06,NaN,July,2018
3,4,1,0.040,0.065,0.017,29.2,5.92,473.6,249.2,397.9,0.69,0.157,0.387,0.057,5.066670e+05,NaN,July,2018
4,5,1,0.045,0.062,0.023,29.5,5.79,685.5,366.0,581.2,4.46,0.204,0.043,0.007,1.265000e+06,NaN,July,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,2,3,0.031,0.015,0.018,31.2,7.74,580.5,309.2,517.0,6.31,0.132,0.031,0.000,2.665833e+05,NaN,July,2019
194,3,3,0.024,0.020,0.016,29.7,7.50,513.0,272.6,436.0,3.00,0.230,0.059,0.000,6.428333e+05,NaN,July,2019
195,4,3,0.016,0.010,0.009,31.5,7.51,550.9,289.8,498.4,4.02,0.124,0.136,0.000,2.945000e+05,NaN,July,2019
196,5,3,0.015,0.012,0.010,28.5,7.31,540.6,287.4,443.4,1.53,0.110,0.056,0.000,3.470833e+05,NaN,July,2019
197,6,3,0.009,0.011,0.006,31.5,7.71,544.7,288.2,493.8,6.32,0.165,0.106,0.000,3.692500e+05,NaN,July,2019

## ข้อที่ 1 ความแตกต่างของ ค่าเฉลี่ย ของข้อมูล Chlo_a ทุกๆ station ระหว่างปี 2018 และ ปี 2019

In [24]:
# prompt: การใช้ DataFrame dataset: หาความแตกต่างของ ค่าเฉลี่ย ของข้อมูล Chlo_a ทุกๆ station ระหว่างปี 2018 และ ปี 2019

# แยกข้อมูลตามปี
dataset_2018 = dataset[dataset['Year'].str.contains('2018')]
dataset_2019 = dataset[dataset['Year'].str.contains('2019')]

# คำนวณค่าเฉลี่ยของ Chlo_a สำหรับแต่ละ station ในปี 2018
mean_chlo_a_2018 = dataset_2018.groupby('station')['Chlo_a'].mean()

# คำนวณค่าเฉลี่ยของ Chlo_a สำหรับแต่ละ station ในปี 2019
mean_chlo_a_2019 = dataset_2019.groupby('station')['Chlo_a'].mean()

# หาความแตกต่างของค่าเฉลี่ยระหว่างปี 2018 และ 2019
difference = mean_chlo_a_2018 - mean_chlo_a_2019

print(difference)

station
1    0.034333
2    0.020356
3    0.030333
4    0.025100
5    0.023378
6    0.028278
Name: Chlo_a, dtype: float64

## ข้อที่ 2 สร้างตารางค่าเฉลี่ย Chlo_b ทุกๆ station ของแต่ละเดือน

In [8]:
# prompt: การใช้ DataFrame dataset: สร้างตารางค่าเฉลี่ย Chlo_b ทุกๆ station ของแต่ละเดือน ผลลัพธ์เป็นตาราง

# คำนวณค่าเฉลี่ย Chlo_b ทุกๆ station ของแต่ละเดือน
result = dataset.groupby(['Month', 'Year','station'])['Chlo_b'].mean().reset_index()

# แสดงผลลัพธ์เป็นตาราง
print(result)

   Month  Year  station    Chlo_b
0    Apr  2019        1  0.051333
1    Apr  2019        2  0.019333
2    Apr  2019        3  0.031000
3    Apr  2019        4  0.020333
4    Apr  2019        5  0.027333
..   ...   ...      ...       ...
61   Sep  2018        2  0.074667
62   Sep  2018        3  0.076667
63   Sep  2018        4  0.064667
64   Sep  2018        5  0.061000
65   Sep  2018        6  0.061667

[66 rows x 4 columns]