<a href="https://colab.research.google.com/github/Natthaphatz007/Python_dataviz2024/blob/main/%E0%B8%AA%E0%B8%B3%E0%B9%80%E0%B8%99%E0%B8%B2%E0%B8%82%E0%B8%AD%E0%B8%87_Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'ณัฐภัทร'
surname = 'ทักษิณ'
ID = '653020568-5'

b= f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ ณัฐภัทร นามสกุล ทักษิณ รหัส 653020568-5

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน


backtick (`) ==> กด ~ ค้าง, alt - 9>6 (full keyboard with number)

tilde (~)

curly bracket ({ })

square bracket ([ ])

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():
     print('Natthaphat')

In [ ]:
print_myname()

Natthaphat

In [ ]:
def print_name(name,surname,ID): #ตัวอย่าง function ที่มี input หลายตัวกับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_name('ณัฐภัทร','ทักษิณ','653020568-5')

'ชื่อ ณัฐภัทร นามสกุล ทักษิณ รหัส 653020568-5'

In [ ]:
out_printname1 = print_name(name='ณัฐภัทร' , surname='ทักษิณ',ID='653020568-5')
print(out_printname1)

ชื่อ ณัฐภัทร นามสกุล ทักษิณ รหัส 653020568-5

In [ ]:
out_printname1

'ชื่อ ณัฐภัทร นามสกุล ทักษิณ รหัส 653020568-5'

In [ ]:
out_printname2 = print_name2(name='ณัฐภัทร' , surname='ทักษิณ',ID='653020568-5')
print(out_printname2)

NameError: name 'print_name2' is not defined

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

#Quiz2 เขียน function ที่รับ input 1 ตัวตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง time1 และ time2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้

In [ ]:
def solutionsec(time1,time2):
    time1 = time1.split(':')
    time2 = time2.split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    timediff = time2_sec - time1_sec
    return (timediff)

In [ ]:
solutionsec('12:30:15','13:41:07')

4252

In [ ]:
def solutionsec2(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    timediff = time2_sec - time1_sec
    return (timediff)

In [ ]:
solutionsec2('12:30:15-13:41:07')

4252

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

In [ ]:
def solutionsec3(time2, time1="00:00:00"):
    time1 = time1.split(':')
    time2 = time2.split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    timediff = time2_sec - time1_sec
    return timediff

In [ ]:
solutionsec3("15:30:15","15:30:15")

0

# HW2
วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้

1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

## Draft1

In [ ]:
def HW2(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')

    # Calculate total seconds for time1 and time2
    time1sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])

    # Calculate the time difference in seconds
    if time2sec >= time1sec:
        timediff = time2sec - time1sec
    else:
        timediff = time2sec - time1sec + 86400  # Adding 86400 seconds (24 hours) if time2 is less than time1

    # Return the result as a formatted string
    return print(f'ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง {timelist[0]} และ {timelist[1]} เท่ากับ {timediff} วินาที')

In [ ]:
#create timelist
timelist = [
'18:09:10 - 18:25:10',
'13:38:39 - 23:54:39',
'16:49:58 - 18:05:58',
'21:49:10 - 22:24:10',
'08:52:21 - 09:25:21',
'06:56:26 - 07:49:26',
'12:08:05 - 12:43:05',
'01:48:38 - 07:18:38',
'08:51:21 - 10:17:21',
'17:05:17 - 18:09:17']

In [ ]:
#loop for result
for i in timelist:
  HW2(i)

ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 18:09:10  และ  18:25:10 เท่ากับ 960 วินาที
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 13:38:39  และ  23:54:39 เท่ากับ 36960 วินาที
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 16:49:58  และ  18:05:58 เท่ากับ 4560 วินาที
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 21:49:10  และ  22:24:10 เท่ากับ 2100 วินาที
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 08:52:21  และ  09:25:21 เท่ากับ 1980 วินาที
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 06:56:26  และ  07:49:26 เท่ากับ 3180 วินาที
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 12:08:05  และ  12:43:05 เท่ากับ 2100 วินาที
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 01:48:38  และ  07:18:38 เท่ากับ 19800 วินาที
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 08:51:21  และ  10:17:21 เท่ากับ 5160 วินาที
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 17:05:17  และ  18:09:17 เท่ากับ 3840 วินาที

## Draft2

In [ ]:
def time2toseconds(time_str):
    # create function to converts time string to seconds
    h, m, s = map(int, time_str.split(':'))
    return h * 3600 + m * 60 + s

def caltimediff(timeinput):
    # create function to calculate time difference
    timelist = timeinput.split('-')
    time1sec = timetoseconds(timelist[0])
    time2sec = timetoseconds(timelist[1])
    timediff = abs(time2sec - time1sec)
    return timediff

def looptime(time_pairs):
    # Function to loop through a list of time pairs and print their differences in seconds
    # create loop function for list of time in pairs and print result
    for timelist in time_pairs:
        timediff = calculate_time_difference(timelist)
        print(f'ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง {timelist} เท่ากับ {timediff}')

# List of time pairs
timelist = [
    "18:09:10 - 18:25:10",
    "13:38:39 - 23:54:39",
    "16:49:58 - 18:05:58",
    "21:49:10 - 22:24:10",
    "08:52:21 - 09:25:21",
    "06:56:26 - 07:49:26",
    "12:08:05 - 12:43:05",
    "01:48:38 - 07:18:38",
    "08:51:21 - 10:17:21",
    "17:05:17 - 18:09:17"
]
# use loop function and print the results
looptime(timelist)

ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 18:09:10 - 18:25:10 เท่ากับ 960
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 13:38:39 - 23:54:39 เท่ากับ 36960
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 16:49:58 - 18:05:58 เท่ากับ 4560
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 21:49:10 - 22:24:10 เท่ากับ 2100
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 08:52:21 - 09:25:21 เท่ากับ 1980
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 06:56:26 - 07:49:26 เท่ากับ 3180
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 12:08:05 - 12:43:05 เท่ากับ 2100
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 01:48:38 - 07:18:38 เท่ากับ 19800
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 08:51:21 - 10:17:21 เท่ากับ 5160
ช่วงเวลาที่เป็นวินาที ที่ห่างกันระหว่าง 17:05:17 - 18:09:17 เท่ากับ 3840

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

# จบวันที่ 7 มค 2564

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = ',') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / ,h -> / ,a -> / ,n -> / ,a -> / ,p -> / ,o -> / ,n -> / ,g -> / ,

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print(name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inner loop is end
now name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inner loop is end
now name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inner loop is end

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

## Dictionary (Data Structure)

จัดเก็บข้อมูลโดยการอ้างอิงโดย text

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
Ex_dict_A = {'memberA' : [1,2,3],'memberB' :8,'memberC':'abc'}
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA'][1]

2

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

### conditional คือ เงื่อนไข /ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อง Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

##### True / False
##### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

In [ ]:
def time_to_second(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')

    # Calculate total seconds for time1 and time2
    time1sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])

In [ ]:
def time_to_seconds(time1):
  time_list = time1.split(':')
  time_sec = int(time_list[0])*3600 + int(time_list[1])*60 + int(time_list[2])
  return time_sec

In [ ]:
timelist = [
'18:09:10 - 18:25:10',
'13:38:39 - 23:54:39',
'16:49:58 - 18:05:58',
'21:49:10 - 22:24:10',
'08:52:21 - 09:25:21',
'06:56:26 - 07:49:26',
'12:08:05 - 12:43:05',
'01:48:38 - 07:18:38',
'18:51:21 - 00:17:21',
'17:05:17 - 11:09:17']

['18:09:10 - 18:25:10',
 '13:38:39 - 23:54:39',
 '16:49:58 - 18:05:58',
 '21:49:10 - 22:24:10',
 '08:52:21 - 09:25:21',
 '06:56:26 - 07:49:26',
 '12:08:05 - 12:43:05',
 '01:48:38 - 07:18:38',
 '18:51:21 - 00:17:21',
 '17:05:17 - 11:09:17']

In [ ]:
for time1,time2 in timelist:
#ถ้า time 1 น้อยกว่า time2
  if time_to_seconds(time1) < time_to_seconds(time2):
    diff_sec = time_to_seconds(time2) - time_to_seconds(time1)
  else:
    diff_sec = time_to_seconds(time2)+24*3600 - time_to_seconds(time1)
  print(f"ระหว่างเวลาทั้งสองตัวนั้น {time1} และ {time2} is {diff_sec} seconds.")

ValueError: too many values to unpack (expected 2)

In [ ]:
for time_range in timelist:
    time1, time2 = time_range.split(' - ')  # Split each time range into two variables

    #ถ้า time 1 น้อยกว่า time2
    if time_to_seconds(time1) < time_to_seconds(time2):
        diff_sec = time_to_seconds(time2) - time_to_seconds(time1)
    else:
        diff_sec = time_to_seconds(time2)+24*3600 - time_to_seconds(time1)
    print(f"ระหว่างเวลาทั้งสองตัวนั้น {time1} และ {time2} is {diff_sec} seconds.")

ระหว่างเวลาทั้งสองตัวนั้น 18:09:10 และ 18:25:10 is 960 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 13:38:39 และ 23:54:39 is 36960 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 16:49:58 และ 18:05:58 is 4560 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 21:49:10 และ 22:24:10 is 2100 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 08:52:21 และ 09:25:21 is 1980 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 06:56:26 และ 07:49:26 is 3180 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 12:08:05 และ 12:43:05 is 2100 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 01:48:38 และ 07:18:38 is 19800 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 18:51:21 และ 00:17:21 is 19560 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 17:05:17 และ 11:09:17 is 65040 seconds.

## HW3 เพิ่มฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช้ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของชั่วโมง นาที วินาที เป็นศูนย์ไม่ต้องแสดง

In [ ]:
def convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds % 3600) // 60
    remaining_seconds = seconds % 60
    #hours ==0
    if hours == 0:
        return print(f"{minutes} นาที {remaining_seconds} วินาที")
    elif minutes == 0:
        return print(f"{hours} ชั่วโมง {remaining_seconds} วินาที")
    elif remaining_seconds == 0:
        return print(f"{hours} ชั่วโมง {minutes} นาที")
    else:
        return print(f"{hours} ชั่วโมง {minutes} นาที {remaining_seconds} วินาที")

In [ ]:
diff_sec_list = [
    960,
    36960,
    4560,
    2100,
    1980,
    3180,
    2100,
    19800,
    19560,
    65040
]

In [ ]:
for time_range in diff_sec_list:
    convert_seconds(time_range)

16 นาที 0 วินาที
10 ชั่วโมง 16 นาที
1 ชั่วโมง 16 นาที
35 นาที 0 วินาที
33 นาที 0 วินาที
53 นาที 0 วินาที
35 นาที 0 วินาที
5 ชั่วโมง 30 นาที
5 ชั่วโมง 26 นาที
18 ชั่วโมง 4 นาที

In [ ]:
for name1 in list_friends :
    for name2 in list_friends :
            print(name1,'รัก',name2)

พี่บูม รัก พี่บูม
พี่บูม รัก ดายน์
พี่บูม รัก แตงโม
พี่บูม รัก ฝน
พี่บูม รัก พี่เจ็ท
พี่บูม รัก น้องแคมป์
ดายน์ รัก พี่บูม
ดายน์ รัก ดายน์
ดายน์ รัก แตงโม
ดายน์ รัก ฝน
ดายน์ รัก พี่เจ็ท
ดายน์ รัก น้องแคมป์
แตงโม รัก พี่บูม
แตงโม รัก ดายน์
แตงโม รัก แตงโม
แตงโม รัก ฝน
แตงโม รัก พี่เจ็ท
แตงโม รัก น้องแคมป์
ฝน รัก พี่บูม
ฝน รัก ดายน์
ฝน รัก แตงโม
ฝน รัก ฝน
ฝน รัก พี่เจ็ท
ฝน รัก น้องแคมป์
พี่เจ็ท รัก พี่บูม
พี่เจ็ท รัก ดายน์
พี่เจ็ท รัก แตงโม
พี่เจ็ท รัก ฝน
พี่เจ็ท รัก พี่เจ็ท
พี่เจ็ท รัก น้องแคมป์
น้องแคมป์ รัก พี่บูม
น้องแคมป์ รัก ดายน์
น้องแคมป์ รัก แตงโม
น้องแคมป์ รัก ฝน
น้องแคมป์ รัก พี่เจ็ท
น้องแคมป์ รัก น้องแคมป์

In [ ]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 != name2: #ไม่ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

พี่บูม รัก ดายน์
พี่บูม รัก แตงโม
พี่บูม รัก ฝน
พี่บูม รัก พี่เจ็ท
พี่บูม รัก น้องแคมป์
ดายน์ รัก พี่บูม
ดายน์ รัก แตงโม
ดายน์ รัก ฝน
ดายน์ รัก พี่เจ็ท
ดายน์ รัก น้องแคมป์
แตงโม รัก พี่บูม
แตงโม รัก ดายน์
แตงโม รัก ฝน
แตงโม รัก พี่เจ็ท
แตงโม รัก น้องแคมป์
ฝน รัก พี่บูม
ฝน รัก ดายน์
ฝน รัก แตงโม
ฝน รัก พี่เจ็ท
ฝน รัก น้องแคมป์
พี่เจ็ท รัก พี่บูม
พี่เจ็ท รัก ดายน์
พี่เจ็ท รัก แตงโม
พี่เจ็ท รัก ฝน
พี่เจ็ท รัก น้องแคมป์
น้องแคมป์ รัก พี่บูม
น้องแคมป์ รัก ดายน์
น้องแคมป์ รัก แตงโม
น้องแคมป์ รัก ฝน
น้องแคมป์ รัก พี่เจ็ท

In [ ]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2: #ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

พี่บูม รัก พี่บูม
ดายน์ รัก ดายน์
แตงโม รัก แตงโม
ฝน รัก ฝน
พี่เจ็ท รัก พี่เจ็ท
น้องแคมป์ รัก น้องแคมป์

In [ ]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2:
            'do nothing'
        else:
            print(name1,'รัก',name2)

พี่บูม รัก ดายน์
พี่บูม รัก แตงโม
พี่บูม รัก ฝน
พี่บูม รัก พี่เจ็ท
พี่บูม รัก น้องแคมป์
ดายน์ รัก พี่บูม
ดายน์ รัก แตงโม
ดายน์ รัก ฝน
ดายน์ รัก พี่เจ็ท
ดายน์ รัก น้องแคมป์
แตงโม รัก พี่บูม
แตงโม รัก ดายน์
แตงโม รัก ฝน
แตงโม รัก พี่เจ็ท
แตงโม รัก น้องแคมป์
ฝน รัก พี่บูม
ฝน รัก ดายน์
ฝน รัก แตงโม
ฝน รัก พี่เจ็ท
ฝน รัก น้องแคมป์
พี่เจ็ท รัก พี่บูม
พี่เจ็ท รัก ดายน์
พี่เจ็ท รัก แตงโม
พี่เจ็ท รัก ฝน
พี่เจ็ท รัก น้องแคมป์
น้องแคมป์ รัก พี่บูม
น้องแคมป์ รัก ดายน์
น้องแคมป์ รัก แตงโม
น้องแคมป์ รัก ฝน
น้องแคมป์ รัก พี่เจ็ท

#### ==, !=,>=,<=,<,>

In [ ]:
'พี่บูม' == 'พี่เจ็ท'

False

In [ ]:
'พี่บูม' != 'พี่เจ็ท'

True

#### หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [ ]:
if True:
    print('Yes')

Yes

In [ ]:
if False:
    print('No')

#### หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา
#### ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดังนี้

In [ ]:
if False:
    print('Yes')
else:
    print('No')

No

# HW
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

In [9]:
score_list = [1,50,65,90,101,-5,49]
for n in score_list:
  if n >= 0 and n < 50:
    print(f'Your score is {n} so your grade is F')
  elif n >= 50 and n < 55:
    print(f'Your score is {n} so your grade is D')
  elif n >= 55 and n < 60:
    print(f'Your score is {n} so your grade is D+')
  elif n >= 60 and n < 65:
    print(f'Your score is {n} so your grade is C')
  elif n >= 65 and n < 70:
    print(f'Your score is {n} so your grade is C+')
  elif n >= 70 and n < 75:
    print(f'Your score is {n} so your grade is B')
  elif n >= 75 and n < 80:
    print(f'Your score is {n} so your grade is B+')
  elif n >= 80 and n < 100:
    print(f'Your score is {n} so your grade is A')
  elif n < 0 or n > 100:
    print(f'Your score is {n} so your grade is error')

Your score is 1 so your grade is F
Your score is 50 so your grade is D
Your score is 65 so your grade is C+
Your score is 90 so your grade is A
Your score is 101 so your grade is error
Your score is -5 so your grade is error
Your score is 49 so your grade is F

## &,|,in,is : Operator อื่นๆ

In [ ]:
if True & True:
    print(True & True)

True

In [ ]:
if 'N' in 'Natthaphat':
  print( 'N in Natthaphat')

N in Natthaphat

In [ ]:
def return_nothing(x):
  x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if return_nothing(5) is None:
  print('x is null')

x is null

# Finish